@import url(./reset.css);

body{
  background-color: #FFF5DA;
  width: 100vw;
  height: 90vh;

  font-family: 'Poppins', sans-serif;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: #FFEAAD;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

  height: 100%;
  margin: 50px;
}

.back-container{
  display: flex;
  justify-content: end;
  padding-right: 50px;
}

.back{
  font-size: 2rem;
}

.content-container{
  display: flex;
  margin: 2vw;
  justify-content: space-around;
}

#content{
  background-color: #FFDD7B;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-left{
  width: 40%;
  font-size: 1.2rem;

  padding: 2vw;

  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.content-right{
  width: 40%;
  font-size: 2rem;

  padding: 2vw;

  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
}

.buttons-container{
  display: flex;
  justify-content: space-around;
  border: 0;
  text-decoration: none;
}


#button{
  height: 8vh;
  width: 320px;
  background: #FFDD7B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: none;
  font-size: 1.2rem;
}

#button:hover{
  transform: scale(1.03);
}

.image-container{
  padding-right: 50px;

  display: flex;
  justify-content: end;
}

@media (max-width: 1099px) {
  body{
    height: auto;

    background-color: #FFF5DA;
    font-family: 'Poppins', sans-serif;
  }

  main{
    background-color: #FFF5DA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    margin: 0px;
  }

  .back-container{
    display: flex;
    justify-content: center;
    padding-right: 0px;
  }

  .div-container{
    padding-top: 15px;
    background-color: #FFF5DA;
  }

  .content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vw;
    gap: 2vh;
  }

  .content-right-font{
    font-size: 1.6rem;
  }

  .content-left{
    width: 40%;
    font-size: 1.2rem;
    padding: 0vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }

  #content{
    width: 340px;
  }

  .image-container{
    padding-right: 0px;
  
    display: flex;
    justify-content: center;
  }

  .buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}