.vanbora-title4{
    color: #E0B441;
}

.vanbora-title3{
    color: white;
}

.bola{
    background-color: #E0B441;  
    clip-path: ellipse(60% 1450px at 0);
}

.bola2{
    background-color: #E0B441;  
    clip-path: ellipse(60% 1450px at 0);
}