* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins';
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

button {
    cursor: pointer;
}

:root {
    --main-yellow: #E0B441;
    --text-color: #232323;
    --background-perfil-van: #FAF4E3;
    --contract-yellow:#FFDD7B;
    --button-yellow: #FFDA29;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

/*Logo css*/
.ball{
    background-color: #F9AB03;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
}



.logo-content{
    display: flex;
    justify-content: center;
}

.name_logo_container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left:5px;
    
}

.name{
    font-family: 'Poppins';  
    font-weight: 700;
    font-size: x-large;
}

.material-symbols-outlined{
    color: white;
}