body {
    height: 100vh;
    display: flex;
    background-image: linear-gradient(to right, var(--main-yellow) 0, var(--main-yellow) 50%, white 50%);
    flex-direction: column;
    justify-content: space-between;
}

/********* HEADER *********/
header {
    position: absolute;
    left: 85%;
}

.logo_container {
    display: flex;
}

.logo {
    width: 14rem;
}

/********* MAIN *********/
main {
    display: flex;
    flex-grow: 1;
}

.left_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15vh;
    background: var(--main-yellow);
    flex-grow: 1;
}

.entry_text {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 600;
    width: 40%;
    text-align: center;
}

.google_register {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: white;
    border: none;
    font-size: 1.5rem;
    padding: .5rem 5rem;
    border-radius: 10px;
}

i {
    margin-right: 4rem;
}

.bottom_text {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.bold_text {
    cursor: pointer;
    font-weight: 600;
}

.right_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 10;
}

.register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 4rem 4rem;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    background: var(--main-yellow);
}

.form_title {
    font-size: 2rem;
    font-weight: 500;
}

.input_container {
    display: flex;
    flex-direction: column;
}

.placeholder {
    font-weight: 600;
}

.input {
    border: none;
    border-radius: 10px;
    padding: 1.5rem 1.5rem;
    width: 30rem;
    font-size: 1.5rem;
    font-weight: 300;
    outline: none;
}

.button_next {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: var(--main-yellow);
    border: 1px solid black;
    font-size: 1.5rem;
    padding: .5rem 3.5rem;
    border-radius: 10px;
    box-shadow: 10px 8px 0 1px black;
    transition: .2s;
}

.button_next:active {
    box-shadow: none;
    transform: translateX(10px);
    transform: translateY(5px);
}

/********* FOOTER *********/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}