.text_container {
    width: 70%;
    text-align: center;
}

.choose_text {
    color: var(--text-color);
    font-size: 5rem;
    font-weight: 500;
}

.buttons_container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: var(--main-yellow);
    border: 1px solid black;
    font-size: 1.5rem;
    padding: .5rem 3.5rem;
    border-radius: 10px;
    box-shadow: 10px 8px 0 1px black;
    transition: .2s;
}

.button:active {
    box-shadow: none;
    transform: translateX(10px);
    transform: translateY(5px);
}

@media(max-width: 800px){
    .choose_text{
        font-size: 2.2rem;
    }
    .buttons_container{
        flex-direction: column;
        gap: 40px;
    }
}